Host *
  TCPKeepAlive yes
  ServerAliveInterval 120
  PubKeyAuthentication yes
  IdentityFile ~/.ssh/pub_key_goes_here

  Host stag
    HostName stage.timsiwula.com
    User timmy_is_us

  Host dev
    HostName dev.timsiwula.com
    User timbobway

  Host data-stage
    HostName tim.com

  Host test-ip
    HostName 192.188.1.1
    User xoxo

  Host bitbucket.org
   IdentityFile ~/.ssh/pubkey

  Host github.com
   IdentityFile ~/.ssh/pubkey
